body{
  margin: 5%;
  background-color: #F9D74F;
}


h1{
  text-align: center;
}
button{
  border: none;
  text-align: center;
  font-size: 15px;
  background-color: #1b5be1;
  color: white;
  width: 17%;
  border-radius: 50%;
  transition-duration: 0.4s;
}
button:hover {
    background-color: #4CAF50;
    color: white;
}
img{
  width: 30%;
  height: 20%;
  margin-left: 35%;
}
button{
  margin: 1%;
}
.form span{
  font-size: 18px;
  font-weight: bold;
  margin-right: 1%;
}
.form, .post{
  margin-left: 30%;
}
.posted{
  padding: 1%;
  margin: 2% 0%;
  border-style: groove;
  border-color: #B9EBF0;
  border-width: thin;
  width: 66%;
  display: block;
  background-color: #FEC300;

}
.posted p{
  text-align: justify;
  font-size: 17px;
}
.posted div.span{
  text-align: right;
}
